<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\style.css">
    <title>NGO</title>
</head>
<body>
    <div class="nav">
        <div class="nav_bar">
            <ul class="nav_items">
                <li"><img class="logo" src="..\static/assets/logo.jpg"></li>
                <li><a href="contact.html">CONTACT</a></li>
                <li><a href="gallery.html">GALLERY</a></li>
                <li><a href="volunteers.html">VOLUNTEERS</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="index.html">HOME</a></li>
            </ul>
            
        </div>
    </div>
    <div class="about">
        <div class="about_head">ABOUT US</div>
        <div class="about_body"><p class="about_body_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut reiciendis ullam ratione nobis corporis laboriosam natus modi pariatur harum. Fugiat aut iusto culpa voluptatibus impedit minus quos aspernatur libero quas?
        Obcaecati unde repellat optio deleniti labore minima, veritatis error officiis maiores et eum nostrum, illo vero molestiae sit possimus, molestias soluta! Distinctio cumque adipisci labore officiis dolorum quod tempora laborum?
        Molestias asperiores molestiae dolore vel unde delectus odio ratione quasi magnam obcaecati architecto laborum eligendi, quo deleniti aliquam optio aut omnis amet, suscipit hic sint autem similique? Ut, tempora dolor.</p>
            <div class="about_body_sub">Our Vision 1
                <div class="about_body_sub_body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum beatae culpa iste deleniti architecto cumque accusantium perspiciatis nobis pariatur quas tempora corrupti, quia, ad eius et? Repellendus nesciunt obcaecati eius?
                Odio dignissimos quam ut, numquam aperiam eligendi quae illum praesentium possimus ipsam magni pariatur voluptas doloremque facilis ab, consequatur totam, rem temporibus architecto velit vitae dolorem officiis. Pariatur, possimus ab?</div>

            </div>
            <div class="about_body_sub">Our Vision 2
                <div class="about_body_sub_body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium numquam laboriosam itaque cumque quibusdam aspernatur ea neque maiores? Distinctio ratione ut adipisci. Sit laudantium nemo assumenda dignissimos vel, expedita mollitia!
                Expedita accusamus corporis impedit cumque voluptate voluptates facilis libero veritatis fugit, repellendus optio cum ut consequatur exercitationem commodi odit eaque ipsam laborum minus inventore iusto cupiditate culpa. Quo, rerum magnam?</div>

            </div>
            <div class="about_body_sub">Our Vision 3
                <div class="about_body_sub_body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad consectetur iure recusandae, eligendi, eaque amet cumque, voluptate expedita temporibus nihil ipsum optio unde autem. Ut hic ullam iure ipsa ratione?
                Mollitia sequi voluptatem debitis voluptatibus natus omnis recusandae quis expedita sapiente aliquid soluta nihil consequatur ad doloribus fugiat facere autem quisquam illo aliquam sint possimus ut vitae, officia pariatur? Ad!</div>

            </div>
        </div>
    </div>



</body>
</html>