<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\style.css">
    <title>NGO</title>
</head>
<body>
    <div class="nav">
        <div class="nav_bar">
            <ul class="nav_items">
                <li"><img class="logo" src="..\static/assets/logo.jpg"></li>
                <li><a href="contact.html">CONTACT</a></li>
                <li><a href="gallery.html">GALLERY</a></li>
                <li><a href="volunteers.html">VOLUNTEERS</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="index.html">HOME</a></li>
            </ul>
            
        </div>
    </div>

    <div class="contact">
        <div class="contact_head">

        </div>
        <div class="contact_body">
            <div class="contact_form_head">Write to us</div>
                <form action="form" method="post" class="contact_form">
                    <div>
                        <label for="name" >Name :</label>
                        <input type="text" id="name" name="name" placeholder="Enter Your Name" required>
                    </div>
                    <div>
                        <label for="email">E-mail :</label>
                        <input type="email" id="email" name="email" placeholder="email@example.com" required>
                    </div>
                    <div>
                        <label for="message">Message :</label>
                        <input type="text" id="message" name="message" placeholder="Type Your Message here" required>
                    </div>
                    <div>
                        <button type="reset">RESET</button>
                        <button type="submit">SUBMIT</button>
                    </div>
                </form>

            
            <div class="contact_socials"><p class="contact_socials_head">Contact Us</p>
                <div class="contact_socials_icons">
                    <a href="#"><img src="..\static\assets\facebook.png"></a>
                    <a href="#"><img src="..\static\assets\twitter.png"></a>
                    <a href="#"><img src="..\static\assets\youtube.png"></a>
                    <a href="#"><img src="..\static\assets\instagram.png"></a>
                    <a href="#"><img src="..\static\assets\linkedin.png"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>