<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\style.css">
    <title>NGO</title>
</head>
<body>
    <div class="nav">
        <div class="nav_bar">
            <ul class="nav_items">
                <li"><img class="logo" src="..\static/assets/logo.jpg"></li>
                <li><a href="contact.html">CONTACT</a></li>
                <li><a href="gallery.html">GALLERY</a></li>
                <li><a href="volunteers.html">VOLUNTEERS</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="index.html">HOME</a></li>
            </ul>
            
        </div>
    </div>

    <div class="gallery">
        <div class="gallery_head">Our Gallery</div>
        <div class="gallery_images_container">
            <img class="gallery_image" src="..\static\assets\gallery1.jpg">
            <img class="gallery_image" src="..\static\assets\gallery2.jpg">
            <img class="gallery_image" src="..\static\assets\gallery3.jpg">
            <img class="gallery_image" src="..\static\assets\gallery4.jpg">
            <img class="gallery_image" src="..\static\assets\gallery5.jpg">
            <img class="gallery_image" src="..\static\assets\gallery6.jpg">
            <img class="gallery_image" src="..\static\assets\gallery7.jpg">
            <img class="gallery_image" src="..\static\assets\gallery9.jpg">
        </div>
        
    </div>

</body>
</html>