<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\style.css">
    <title>NGO</title>
</head>
<body>
    <div class="nav">
        <div class="nav_bar">
            <ul class="nav_items">
                <img class="logo" src="..\static/assets/logo.jpg">
                <li><a href="contact.html">CONTACT</a></li>
                <li><a href="gallery.html">GALLERY</a></li>
                <li><a href="volunteers.html">VOLUNTEERS</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="index.html">HOME</a></li>
            </ul>
            
        </div>
    </div>
    <div class="home">
        <div class="home_container">
            <img src="..\static\assets\home.jpg">
            <div class="home_head"><strong>Welcome to ABC NGO</strong><p class="home_subhead">Lorem ipsum dolor sit amen.</p></div>
            
        </div>
        <div class="home_heading">
            <strong>Welcome to ABC NGO</strong><br>Lorem ipsum dolor sit amen.
        </div>
    </div>
    
    
</body>
</html>