<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\style.css">
    <title>NGO</title>
</head>
<body>
    <div class="nav">
        <div class="nav_bar">
            <ul class="nav_items">
                <li"><img class="logo" src="..\static/assets/logo.jpg"></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">GALLERY</a></li>
                <li><a href="volunteers.html">VOLUNTEERS</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="index.html">HOME</a></li>
            </ul>
            
        </div>
    </div>
    <div class="home">
        <div class="home_img_container">
            
            <img class="home_bg" src="..\static\assets\home.jpg">
            <div class="home_heading">Welcome to <strong>ABC NGO</strong><br><p class="home_subheading">First example with text surrounded by a red border.</p></div>
            
        </div>

    </div>
    
    
</body>
</html>