<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\style.css">
    <title>NGO</title>
</head>
<body>
    <div class="nav">
        <div class="nav_bar">
            <ul class="nav_items">
                <li"><img class="logo" src="..\static/assets/logo.jpg"></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="gallery.html">GALLERY</a></li>
                <li><a href="volunteers.html">VOLUNTEERS</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="index.html">HOME</a></li>
            </ul>
            
        </div>
    </div>

    <div class="services">
        <div class="services_heading">
            WHAT WE DO
        </div>
        <div class="services_subheading">
            Our Services
        </div>
        <div class="services_list">
            <div>
                <div class="services_list_items"><img class="services_icon services_head_inline" src="..\static\assets\services_icon.png"><p class="service_card_head services_head_inline">Service 1</p></li><p class="services_card_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
                <div class="services_list_items"><img class="services_icon services_head_inline" src="..\static\assets\services_icon.png"><p class="service_card_head services_head_inline">Service 2</p></li><p class="services_card_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
                <div class="services_list_items"><img class="services_icon services_head_inline" src="..\static\assets\services_icon.png"><p class="service_card_head services_head_inline">Service 3</p></li><p class="services_card_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
                <div class="services_list_items"><img class="services_icon services_head_inline" src="..\static\assets\services_icon.png"><p class="service_card_head services_head_inline">Service 4</p></li><p class="services_card_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
                <div class="services_list_items"><img class="services_icon services_head_inline" src="..\static\assets\services_icon.png"><p class="service_card_head services_head_inline">Service 5</p></li><p class="services_card_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>
                <div class="services_list_items"><img class="services_icon services_head_inline" src="..\static\assets\services_icon.png"><p class="service_card_head services_head_inline">Service 6</p></li><p class="services_card_body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></div>

            </div>
        </div>
    </div>

</body>
</html>