<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\style.css">
    <title>NGO</title>
</head>
<body>
    <div class="nav">
        <div class="nav_bar">
            <ul class="nav_items">
                <li"><img class="logo" src="..\static/assets/logo.jpg"></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="gallery.html">GALLERY</a></li>
                <li><a href="volunteers.html">VOLUNTEERS</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="services.html">SERVICES</a></li>
                <li><a href="index.html">HOME</a></li>
            </ul>
            
        </div>
    </div>

    <div class="vol_head">
        Our Volunteers
    </div>

    <div class="vol_body">
        <div class="vol_card_container">
            <div class="vol_card">
                <div>
                        <img class="vol_card_image" src="..\static\assets\vol.jpg">
                </div>
                <div class="vol_card_body">
                    <div class="vol_card_body_name">FirstName LastName</div>
                    <div class="vol_card_body_about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eum asperiores iste non debitis officiis, omnis commodi dolore amet hic numquam deserunt corrupti cumque, voluptatibus molestias facere? Dolor, odit beatae.
                    Animi consectetur temporibus pariatur molestiae perferendis excepturi voluptas laudantium recusandae adipisci! Qui officia optio libero, neque doloremque at animi placeat quo possimus repellat beatae quia. Corporis accusamus unde in officia.</div>

                </div>

            </div>
            <div class="vol_card">
                <div>
                        <img class="vol_card_image" src="..\static\assets\vol.jpg">
                </div>
                <div class="vol_card_body">
                    <div class="vol_card_body_name">FirstName LastName</div>
                    <div class="vol_card_body_about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eum asperiores iste non debitis officiis, omnis commodi dolore amet hic numquam deserunt corrupti cumque, voluptatibus molestias facere? Dolor, odit beatae.
                    Animi consectetur temporibus pariatur molestiae perferendis excepturi voluptas laudantium recusandae adipisci! Qui officia optio libero, neque doloremque at animi placeat quo possimus repellat beatae quia. Corporis accusamus unde in officia.</div>

                </div>

            </div>
            <div class="vol_card">
                <div>
                        <img class="vol_card_image" src="..\static\assets\vol.jpg">
                </div>
                <div class="vol_card_body">
                    <div class="vol_card_body_name">FirstName LastName</div>
                    <div class="vol_card_body_about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eum asperiores iste non debitis officiis, omnis commodi dolore amet hic numquam deserunt corrupti cumque, voluptatibus molestias facere? Dolor, odit beatae.
                    Animi consectetur temporibus pariatur molestiae perferendis excepturi voluptas laudantium recusandae adipisci! Qui officia optio libero, neque doloremque at animi placeat quo possimus repellat beatae quia. Corporis accusamus unde in officia.</div>

                </div>

            </div>
            <div class="vol_card">
                <div>
                        <img class="vol_card_image" src="..\static\assets\vol.jpg">
                </div>
                <div class="vol_card_body">
                    <div class="vol_card_body_name">FirstName LastName</div>
                    <div class="vol_card_body_about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eum asperiores iste non debitis officiis, omnis commodi dolore amet hic numquam deserunt corrupti cumque, voluptatibus molestias facere? Dolor, odit beatae.
                    Animi consectetur temporibus pariatur molestiae perferendis excepturi voluptas laudantium recusandae adipisci! Qui officia optio libero, neque doloremque at animi placeat quo possimus repellat beatae quia. Corporis accusamus unde in officia.</div>

                </div>

            </div>
        </div>

    </div>

</body>
</html>